alembic/versions

### Python
__pycache__/
*.py[cod]
*$py.class

### env file
.env

### docker data
.docker-data/
.docker-data-bk/

### direnv
.envrc

### pyenv
.python-version

### tmp dir
tmp/

.idea/

### vscode settings
.vscode
